@import 'src/app/common/css/common.scss';

.testimonial{
  &:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-style: italic;
    top: 0;
    left: 0;
    content:"\f10d";
    font-size: rem(45);
    color: $cqfd-grey;
  }

  &:after {
    position: absolute;
    font-family: 'FontAwesome';
    font-style: italic;
    top: rem(80);
    right: 0;
    content: "\f10e";
    font-size: rem(45);
    color: $cqfd-grey;
  }
  font-size: rem(20);
  padding: rem(30) rem(16) 0 rem(16);

  .content{
    padding: rem(10) 0;
  }
  .user{
    font-size: rem(16);
    font-weight: bold;
  }
  .company{
    font-size: rem(16);
  }
}
