<section class="page-section py-5" id="contact">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">On reste en contact !</h2>
        <hr class="divider my-4"/>
        <div class="text-muted mb-5">
          <div class="mb-3 font-italic fs20"> Pr&ecirc;t &agrave; d&eacute;marrer notre nouvelle collaboration ?</div>
          Appelez moi directement au <b><a href="tel:+33783323553" class="primary-darken-20">07.83.32.35.53</a></b> ou contactez moi via
          <b><a class="primary-darken-20" href="mailto:cqfd.qualite@gmail.com?subject=Demande de contact">mon mail professionnel</a></b>
          et je vous répondrai dans les meilleurs délais
        </div>
      </div>
    </div>
  </div>
</section>
