<!-- Services-->
<section class="page-section py-5 bg-primary-lighten-40" id="services">
  <div class="container">
    <h2 class="text-center mt-0">A votre service !</h2>
    <hr class="divider my-3"/>
    <div class="row row-eq-height">
      <div class="col-xs-12 col-md-4 text-center bg-primary-lighten-35 service-card">
        <!-- C / Q : Conseils et Qualité -->
        <div class="mx-1">
          <app-prestations-details
            title="Consulting qualité"
            cssClass="primary-darken-10"
            icon="consulting"
            description="Création d'un système qualité,Chantier d'amélioration continue,Prise en compte des évolutions normatives,Digitalisation du système qualité,Surcharge d'activité,..."
            anchor="#consulting">
          </app-prestations-details>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center bg-primary-lighten-30 service-card">
        <!-- F : Formation -->
        <div class="mx-1">
          <app-prestations-details
            title="Formations"
            cssClass="primary-darken-20"
            icon="formation"
            description="Mettre en place une démarche SMQ,Devenir auditeur interne,Gérer votre système métrologique,Mettre en place l’évaluation des risques / HACCP,Formations personnalisées"
            anchor="#formation">
          </app-prestations-details>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center bg-primary-lighten-25 service-card">
        <!-- D : Diagnostic -->
        <div class="mx-1">
          <app-prestations-details
            title="Diagnostic"
            cssClass="primary-darken-30"
            icon="audit"
            description="Audit d'état des lieux,Audit interne SMQ : Qualité et métrologie,Audit fournisseurs analytiques,Audit Qualiopi,..."
            anchor="#diagnostic">
          </app-prestations-details>
        </div>
      </div>
    </div>
  </div>
</section>
