<section class="page-section bg-dark py-5" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">

        <div class="d-block d-sm-none">
          <h2 class="text-white mt-0">Je peux vous accompagner !</h2>
          <hr class="divider light my-4 border-white"/>
        </div>

        <div class="row">
          <div class="col-lg-4 text-center" data-aos="fade-right">
            <img src="assets/pro7.jpg" class="img-thumbnail mb-5" alt="audit image">
          </div>

          <div class="col-lg-8 text-center align-self-center">

            <div class="d-none d-sm-block">
              <h2 class="text-white mt-0 text-left">Je peux vous accompagner !</h2>
              <hr class="divider light my-4 border-white"/>
            </div>

            <p class="text-white mb-4 highlight">
              Je m'appelle Nad&egrave;ge Pioche, après plus d'une décennie en tant que <b>responsable qualité</b> au sein d'un laboratoire de renommée mondiale, je serai à
              même de vous accompagner dans la mise en place, le maintien et l'amélioration continue d'un <u>système
              qualité</u> ainsi que la <u>gestion des risques</u> et la <u>gestion des crises</u>.
            </p>
            <p class="text-white mb-4">
              Mon adaptabilité m'a permis de rebondir à des situations de réorganisations nombreuses tout au long de ma
              carrière et me permet aujourd'hui de vous proposer mon aide dans la gestion du changement au sein de votre
              entreprise.
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Découvrez mes prestations</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
