<!-- Masthead-->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-xs-12 align-self-end">
        <h1 class="text-uppercase font-weight-bold">
          <span class="company-name">CQFD Qualité</span>
          vous accompagne dans vos projets d'amélioration continue
        </h1>
        <hr class="divider my-4" />
      </div>
      <div class="col-xs-12 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5 fs18">
          Parce que l'audit est le point de départ de tous les chantiers d'amélioration continue,
          ce sera également le commencement de notre collaboration vers l'excellence qualité.
        </p>
        <a class="btn btn-primary btn-xl" href="#about">Découvrez nos prestations</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</header>
