@import "mixins";
@import "variables";
@import '~bootstrap/scss/bootstrap-grid.scss';

body,
.primary{
  color: $primary;
}

.bg-cqfd-primary{
  background-color: $cqfd-blue;
}

.bg-cqfd-secondary{
  background-color: lighten($cqfd-blue, 10%);
}

.bg-cqfd-third{
  background-color: lighten($cqfd-blue, 40%);
}

.bg-primary-lighten-40{
  background-color: lighten($cqfd-blue, 40%);
}

.bg-primary-lighten-35{
  background-color: lighten($cqfd-blue, 35%);
}

.bg-primary-lighten-30{
  background-color: lighten($cqfd-blue, 30%);
}

.bg-primary-lighten-25{
  background-color: lighten($cqfd-blue, 25%);
}

.primary-darken-10{
  color: darken($cqfd-blue, 10%);
}

.primary-darken-20{
  color: darken($cqfd-blue, 20%);
}

.primary-darken-30{
  color: darken($cqfd-blue, 30%);
}

.btn-primary{
  background-color: $cqfd-blue;
  border-color: $cqfd-blue;
  &:hover{
    background-color: darken($cqfd-blue, 10%);
  }
}

.highlight{
  u{
    color: $cqfd-blue;
    font-weight: bold;
  }
}

.bg-dark{
  .highlight{
    u{
      color: lighten($cqfd-blue, 30%);
    }
  }
}

.fs18{
  font-size: rem(18);
}
.fs20{
  font-size: rem(20);
}
.fs22{
   font-size: rem(22);
}
.fs24{
  font-size: rem(24);
}
.fs30{
  font-size: rem(30);
}
.fs36{
  font-size: rem(36);
}
